li {
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.skill {
  list-style: circle;
  font-size: 24px;
}

.edu p {
  font-size: 32px;
  margin-bottom: -12px;
}

.contact {
  font-size: 24px;
}

.about ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: px;
}

.info {
  font-size: 30px;
  margin: 27px 4px;
  justify-content: space-between;
}

.about ul li label {
  margin: 0px 72px;
  font-size: 20px;
  font-weight: bold;
}

.about ul li img {
  height: 320px;
  width: 320px;
  border-radius: 64px;
  border: 2px solid blueviolet;
  object-fit: cover;
  margin: 16px;
}

header {
  background: blueviolet;
}
header h1 {
  text-align: center;
  font-size: 36px;
}
nav {
  text-align: center;
  color: white;
}
nav a {
  margin: 0 24px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}
nav a:hover {
  color: black;
}
.hero ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  margin: 16px;
  border: 2px solid blueviolet;
  border-radius: 64px;
}
.hero ul li label {
  margin: 0px 72px;
  font-size: 20px;
  font-weight: bold;
}
.hero ul li p {
  font-size: 24px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: blueviolet;
  color: black;
  font-size: 20px;
  padding: 16px 0 0;
}
